.inner-heading {
  height: 50px;
  overflow: hidden;
  text-transform: uppercase;
  position: relative;
}

#role {
  display: block;
  height: 400px; 
  position: relative;
  animation: slide 16s ease-in-out infinite;
}

.text-wrapper > div {
  height: 50px;
  line-height: 50px;
}


@keyframes slide {
  0%,
  10% {
    top: 0;
  }
  15%,
  25% {
    top: -50px;
  }
  30%,
  40% {
    top: -100px;
  }
  45%,
  55% {
    top: -150px;
  }
  60%,
  70% {
    top: -200px;
  }
  75%,
  85% {
    top: -250px;
  }
  90%,
  95% {
    top: -300px;
  }
  100% {
    top: -350px;
  }
}
